ENCRYPTION_KEY=
GEIDEA_MERCHANT_ID=
GEIDEA_PUBLIC_KEY=
HYPERPAY_BEARER_TOKEN=
HYPERPAY_ENTITY_ID=
MOYASAR_SECRET_KEY=
PAYTABS_PROFILE_ID=
PAYTABS_SERVER_KEY=
SUPABASE_DATABASE_URL=
VITE_GOOGLE_MAPS_PLATFORM_KEY=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_DEPARTMENT_ID=
ZOHO_DESK_ENABLED=
ZOHO_DOMAIN=
ZOHO_ORG_ID=
ZOHO_REFRESH_TOKEN=